@import '/src/assets/main.scss' ;

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 100vw;
}

body { 
    background-color: transparent;
}


.header img {
    width: 2.75rem;
    height: 2.938rem;
    margin-top: .7rem;
}




