.header {
    margin-left: .5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    // height: 10%;
    // max-height: 10%;
}

body { 
    background-color: #57CDC5;
}