@import '/src/assets/main.scss' ;


// body { position: static; overflow-y:auto }
// body { position: fixed; overflow-y:scroll }
html, body, #root {
	height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    // overflow: hidden;
}

body {
    // position: relative;
}
body {
    background-color: $color1;
    background-image: url('../../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

}
* {
	margin: 0;
  	padding: 0;
	// box-sizing: border-box;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout header {
    height: 10%;
}

.layout main {
    display: flex;
    flex-direction: column;
    height: 90%;

}


@media (max-width: 1350px){
    html {
        font-size: 15px;
    }
}

@media (max-width: 1200px){
    html {
        font-size: 14px;
    }
}

@media (max-width: 1050px){
    html {
        font-size: 13px;
    }


}

@media (max-width: 950px){
    html {
        font-size: 12px;
    }
}


@media (max-width: 600px){
    html {
        font-size: 11px;
    }
}

@media (max-width: 400px){
    html {
        font-size: 10px;
    }
}

.toast-container {
    color:red !important;
}
.toast-wrapper {
    background-color: rgba($color1, 100%) !important;
    color: #00DBB6;
}
.toast-body {
    color: $font-color1 !important; 
    @include text-3();

}
.toast-progress {
    background-color: linear-gradient( to right, #4cd964, #5ac8fa) !important; 
    color: linear-gradient(to right, #4cd964, #5ac8fa) !important; 
    &--animated {
        animation: linear-gradient( to left, #4cd964, #5ac8fa)__trackProgress linear 1 forwards !important;
    }
    &--rtl {
        right: 0;
        left: initial;
        transform-origin: left;
    }
    color: red !important;
    background-color: #00DBB6 !important; 

    
}


@media (max-width: 1350px){html {font-size: 15px;}}
@media (max-width: 1200px){html {font-size: 14px;}}
@media (max-width: 1050px){html {font-size: 13px;}}
@media (max-width: 950px){html {font-size: 12px;}}
@media (max-width: 600px){html {font-size: 11px;}}
@media (max-width: 400px){html {font-size: 10px;}}



@media (max-height: 850px) and (min-width: 1200px)  { html { font-size: 14px;}}
@media (max-height: 750px) and (min-width: 1050px)  { html { font-size: 13px;}}
@media (max-height: 700px) and (min-width: 950px)   { html { font-size: 12px;}}
@media (max-height: 650px) and (min-width: 600px)   { html { font-size: 11px;}}
@media (max-height: 600px) and (min-width: 400px)   { html { font-size: 10px;}}
@media (max-height: 600px) and (min-width: 400px)   { html { font-size: 9px;}}
// @media (max-height: 710px) { html { font-size: 8px;}}