@import '/src/assets/main.scss' ;


.left-nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    width: 80%;
    margin-top: .9rem;
    justify-items: center;
}

.left-nav-dropdown {
    display: flex;
    flex-direction: column;
}


.nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    text-decoration: none;
    color: $font-color1;
}

.nav-link-dropdown {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    text-decoration: none;
    color: $font-color1;
}









@media (min-width: 1440px){
    .left-nav {
        width: 65%;
    }
}