@import '/src/assets/main.scss' ;


.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.nav-left-side {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
}

.nav-right-side {
    display: grid;
    grid-auto-flow: column;
    justify-self: right;
}

.nav-link {
    @include button-4();
    color: $font-color1;
    height: 80%;
    transition: .3s;
    border-bottom: 2px solid transparent;
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}

.nav-link-active {
    background-color: rgba($color2, 55%);
    border-bottom: 2px solid $color3;
}

.disconnect-button {
    background-color: transparent;
    width: 8rem;
    height: 80%;
    border: none;
    @include button-4();
    background-color: rgba(red, 25%);
    border-bottom: 2px solid red;
    color: red;
    cursor: pointer;
}
