@import '/src/assets/main.scss' ;


.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.nav-left-side {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
}

.nav-right-side {
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    justify-self: right;
}


.nav-link {
    @include nav-link-font();
    color: $font-color1;
    height: 80%;
    transition: .3s;
    border-bottom: 2px solid transparent;
}

.nav-link-active {
    background-color: rgba($color2, 55%);
    border-bottom: 2px solid $color3;
}