@import '/src/assets/main.scss' ;


.right-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    margin-top: .9rem;
    justify-self: right;
    margin-right: 3rem;
}

.right-nav-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    text-decoration: none;
    color: $font-color1;
}

.nav-link-dropdown {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    text-decoration: none;
    color: $font-color1;
}

