@import '/src/assets/main.scss' ;


.right-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    justify-self: right;
}

.right-nav-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-link {
    grid-row: 1 / 2;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    text-decoration: none;
    color: $font-color1;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}

.nav-link-dropdown {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    text-decoration: none;
    color: $font-color1;
    height: 60%;
}

.normal-button-dropdown {
    height: 60%;

}

.normal-button {
    grid-row: 1 / 2;
    height: 60%;
    @include mini-title-font();
    background-color: $color2;
    color: $color3;
    border: none;
    border-radius: 5px;
    padding: 0rem 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .6rem;
    cursor: pointer;
}

.nav-link-active {
    background-color: rgba($color2, 55%);
    border-bottom: 2px solid $color3;
}