@import '../../_scss/_font.module.scss';

.models {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.models > p:nth-child(1) {
    @include Raleway-normal-normal-40px-white;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.faculty {
    width: 334px;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-left: 5%;
    margin-right: 2.5%;
}
.year {
    width: 334px;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-right: 2.5%;

}

.models > div:nth-child(2) {
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.models > div:nth-child(2) > form {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    margin-top: 5%;
    select{
        width: 100%;
        margin: 0;
    }
    button {
        background: #00A99D;
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: none;
        @include Raleway-normal-normal-30px-white-089;
    }
}

.models > div:nth-child(2) > div {
    overflow-y: scroll;
    height: 400px;
    margin-top: 2.5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    margin-bottom: 3%;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}