








































































































































































































































































// // @media (max-width: 1200px) {
// //     .section {
// //         grid-template-rows: 2fr 3fr;
// //     }
// // }

// // @media (max-width: 900px) {
// //     .section {
// //         grid-template-columns: 1fr 1fr;
// //         margin-right: 2rem;
// //         margin-left: 2rem;
// //     }
// // }

// // @media (max-width: 800px) {
// //     .section {
// //         grid-template-columns: 2fr 3fr;
// //         margin-right: 2rem;
// //         margin-left: 2rem;
// //     }
// //     .courses-container {
// //         grid-template-columns: 1fr;
// //         margin-right: 0;
// //     }
// // }

// // @media (max-width: 650px) {
// //     .section {
// //         display: grid;
// //         grid-template-columns: 5fr 3fr;
// //         grid-template-rows: 1fr;
// //         max-height: 90vh;
// //         margin-top: 3rem;
// //         grid-template-columns: 1fr;
// //         grid-template-rows: 1fr 4fr;
// //         max-width: 100vw;
// //         margin-right: 0rem;
// //         margin-left: 0rem;
// //         height: 90vh;
// //     }

// //     .courses-section {
// //         grid-column: 1 / 2;
// //         display: flex;
// //         flex-direction: column;
// //         height: inherit;
// //         > p { 
// //             @include title-font(); 
// //             color: $font-color1; 
// //             margin-bottom: 1.5rem;
// //         }
// //         margin-right: 3.5rem;

// //         grid-row: 1 / 2;
// //         grid-column: 1 / 2;
// //         height: unset;
// //         width: 90vw;
// //         // background-color: ivory;
// //         margin-right: 5vw;
// //         margin-left: 5vw;

// //     }

// //     .courses-container {
// //         display: grid;
// //         grid-auto-flow: row;
// //         grid-template-columns: 1fr 1fr;
// //         overflow-y: scroll;
// //         grid-row-gap: 1.5rem;
// //         grid-column-gap: 1.5rem;

// //         grid-auto-flow: column;
// //         grid-template-rows: 1fr;
// //         overflow-x: scroll;
// //         overflow-y: hidden;
// //         grid-row-gap: 1.5rem;
// //         grid-column-gap: 1.5rem;
// //         grid-template-columns: 1fr;


// //     }


// //     .teachers-section {
// //         grid-row: 2 / 3;
// //         grid-column: 1 / 2;
// //         grid-template-columns: 1fr;
// //         display: flex;
// //         flex-direction: column;
// //         height: 100%;
// //         width: 90vw;
// //         // background-color: rgba(16, 182, 18, 0.786);
// //         margin-right: 5vw;
// //         margin-left: 5vw;
// //         margin-top: 6vh;
// //     }
// //     .titles { 
// //     }
// //     .teachers-picture {
// //     }
// //     .teacher-info {
// //     }
// //     .teachers-section > p:nth-child(4) {
// //         align-self: flex-end;
// //     }
// //     .reviews-container {
// //         background-color: $color5;
// //         display: grid;
// //         grid-auto-flow: row;
// //         overflow-y: scroll;
// //         overflow-x: hidden;
// //         grid-row-gap: 1rem;
// //         grid-column-gap: 1.5rem;
// //         // height: 250px;
// //         // width: 150px;

// //         > p {
// //             font-family: Raleway;
// //             font-style: normal;
// //             font-weight: 600;
// //             font-size: 0.875rem;
// //             color: rgba(255, 255, 255, 0.6);
// //             border: 1px solid rgba(255, 255, 255, 0.4);
// //             box-sizing: border-box;
// //             padding: 0;
// //             margin: 0;
// //             min-height: 5.625rem;
// //             width: 300px;
// //             padding-top: .5rem;
// //             padding-left: .5rem;
// //             padding-right: 2rem;
// //         }
// //     }
        

// // }


































// @import '../main.scss';
// .section {
//     display: grid;
//     grid-template-columns: 5fr 3fr;
//     grid-template-rows: 1fr;
//     max-height: 90vh;
//     height: 90vh;
//     margin-right: 5rem;
//     margin-left: 5rem;
// }

// .courses-section {
//     margin-top: 4rem;
//     grid-column: 1 / 2;
//     display: grid;
//     height: inherit;
//     grid-template-rows: minmax(60px, auto) minmax(0, 100%);

//     > p { 
//         @include title-font(); 
//         color: $font-color1; 
//         margin-bottom: 1.5rem;
//     }
//     margin-right: 3.5rem;
// }

// .courses-container {
//     overflow: auto;
//     // display: grid;
//     // grid-auto-flow: row;
//     // grid-template-columns: 1fr 1fr;
//     // overflow-y: scroll;
//     // grid-row-gap: 1.5rem;
//     // grid-column-gap: 1.5rem;
// }


// .teachers-section {
//     margin-top: 4rem;

//     grid-column: 2 / 3;
//     display: grid;
//     height: inherit;
// }

// .titles { 
//     margin-bottom: 1.8rem;
//     > p:nth-child(1) {
//         @include title-font();
//         color: $font-color1;
//     }
//     > p:nth-child(2) {
//         @include mini-title-font();
//         color: $font-color1;
//     }
    
// }
// .teachers-picture {
//     display: grid;
//     grid-auto-flow: column;
//     max-width: calc(3.75rem * 4);
//     margin-bottom: 2.3rem;
// }
// .teacher-info {
//     > p {
//         @include mini-title-font();
//         color: $font-color1;
//         margin-bottom: .4rem;
//     }
// }
// .teachers-section > p:nth-child(4) {
//     @include mini-title-font();
//     color: $font-color1;
//     margin-bottom: .3rem;
// }
// .reviews-container {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     > div {
//         background-color: $color5;
//         display: grid;
//         grid-auto-flow: row;
//         overflow-y: scroll;
//         grid-row-gap: 1rem;
//         grid-column-gap: 1.5rem;
//         height: inherit;
//             > p {
//             font-family: Raleway;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 0.875rem;
//             color: rgba(255, 255, 255, 0.6);
//             border: 1px solid rgba(255, 255, 255, 0.4);
//             box-sizing: border-box;
//             padding: 0;
//             margin: 0;
//             min-height: 5.625rem;
//             padding-top: .5rem;
//             padding-left: .5rem;
//             padding-right: 2rem;
//         }
//     }


// }












