$color1: #12262B;
$color2: #214C4E;
$color3: #00DBB6;
$color4: #009CA8;
$color5: rgba(35, 75, 77, 20%);
$font-color1: #FFFFFF;
$font-color2: rgba(255, 255, 255, 85%);
$font-color3: #00DBB6;
$font-color4: rgba(0, 219, 182, 85%);
