@mixin var1 { 
    margin: 0;
    padding: 0;
    color: white;
    font-family: Raleway;
}

// 
//  Title fonts
//
@mixin title-1-font {
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    @include var1();
}
@mixin title-2-font {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    @include var1();
}
@mixin title-3-font {
    font-style: normal;
    font-weight: 500;
    font-size: 3.125rem;
    @include var1();
}
@mixin title-4-font {
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    @include var1();
}
@mixin title-5-font {
    font-style: normal;
    font-weight: 600;
    font-size: 2.188rem;
    @include var1();
}



// 
//  Buttons fonts
//
@mixin button-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    @include var1();
}
@mixin button-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    @include var1();
}
@mixin button-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    @include var1();
}
@mixin button-4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    @include var1();
}



// 
//  Texte fonts
//
@mixin text-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    @include var1();
}
@mixin text-2 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    @include var1();
}
@mixin text-3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    @include var1();
}