@mixin title1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin dashboard-1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin dashboard-2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin dashboard-3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.89);
    margin: 0;
    padding: 0;
}

@mixin button-3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 23px;
    color: #FFFFFF;
}

@mixin button-2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin button-1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
}

@mixin course-name {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin text-1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@mixin select-1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.58);
}
