.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.chatOnlineImageContainer{
    position: relative;
    margin-right: 15px;
}
.chatOnlineImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.chatOnlineBadge{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
}