@import '../_scss/font.module';
.course {
    display: grid;
    grid-template-columns: 2fr auto 1fr;
    align-items: center;
    background-color: #3EA39B;
    border-radius: 5px;
    margin-bottom: 1%;
    width: 80%;
    padding: .5% 0%;
    p {
        @include course-name;
        justify-content: center;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
    div {
        width: 1px;
        height: 80%;
        color: white;
        background-color: white;
    }

}

.navLink {
    justify-self: center;
    height: 40px;
    width: 80%;
    background: #FFFFFF;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* Access */

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    @include button-1;
}