.model {
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    .navLink {
        position: absolute;
        width: 70%;
        height: 15%;
        transform-origin: (50%, 50%);
        text-decoration: none;
        color: black;
        background-color: rgba(255, 255, 255, 0.814);
        border-radius: 5px;
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center;
        justify-self: center;
        align-self: center;
        justify-content: center;
        line-height: 0px;
        flex-direction: column;
    }
}
    
.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        opacity: .3;
    }
    .navLink {
        position: absolute;
        width: 70%;
        height: 15%;
        transform-origin: (50%, 50%);
        text-decoration: none;
        color: black;
        background-color: rgba(255, 255, 255, 0.814);
        border-radius: 5px;
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center;
        justify-self: center;
        align-self: center;
        justify-content: center;
        line-height: 0px;
        flex-direction: column;
    }
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        opacity: 1;
        transition: .5s ease;
    }
    .navLink {
        position: absolute;
  
    }
}