@mixin Raleway-normal-500-30-white {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.navLink {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

.navLink p {
    @include Raleway-normal-500-30-white();
}