@import '../main.scss' ;

.teachers-section {
    display: grid;
    grid-template-rows: min-content auto min-content;
    margin-right: 5rem;
    margin-top: 2rem;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #214C4E;

    border-radius: 5px;
    border: none;
    width: 10rem;
    color: $font-color3;
    height: 3rem;
    @include text-3();
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
        color: #ffffff;

    border: 1px solid transparent;
    transition: .225s;

    &:hover {
        border: 1px solid $color3;
        color: $font-color4-hover;
    }

}

.teachers-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    margin-top: 2rem;
    .choices-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        > p:nth-child(1) {
            @include title-5-font();
            color: $font-color1;
            margin-bottom: .6rem;

        }
        > p:nth-child(2) {
            @include text-3();
            color: $font-color1;
            margin-bottom: 1.5rem;

        }
        .profiles-pictures-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .info-container {
        background-color: $color2;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 60%;
        border: 1px solid rgba($color3, 25%);
        > p:nth-child(1), p:nth-child(2), p:nth-child(3), p:nth-child(4) {
            @include text-3();
            color: $font-color1;
            margin: .5rem 0rem;
        }
    }

}



.reviews-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    // background-color: rgba($color3, 10%);
    > p {
        @include text-3();
        color: $font-color1;
    }

    > div {
        display: grid;
        grid-auto-flow: row;
        overflow-y: auto;
        grid-row-gap: 1.25rem;
        grid-column-gap: 1.25rem;
        margin-top: 1rem;
        &::-webkit-scrollbar {
            background-color: $color2;
        }
        &::-webkit-scrollbar-track {
            background-color: $color2;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color1;
        }
        p {
            @include text-2();
            color: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            padding-top: .5rem;
            padding-left: .5rem;
            padding-right: 2rem;
            padding-bottom: .5rem;
        }
    }

}


.no-teacher-para {
    @include text-3();
    // color: rgba(red, 75%)
    color: rgba(white, 50%)
}


@media (max-width: 700px) {
    .teachers-section {
        margin-top: 0rem;
        margin-right: 0rem;
    }
    .nav-link {
        margin-bottom: 1rem;
    }
    .reviews-container {
        width: 80%;
        justify-self: center;
    }

    .teachers-container {
        justify-items: center;
        width: 100%;
        .choices-container {
            width: 80%;
            .profiles-pictures-container {
                width: 60%;
            }
        }
        .info-container {
            width: 80%;
        }
    }
}