@import '../main.scss' ;

.choose-your-teacher {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    margin-top: 5%;
    min-height: 85%;
}

.teachers-container {
    display: flex;
    flex-direction: row;
    min-width: 35rem;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
}

.teacher-info-container {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
    margin-top: 1%;
    flex: 1;
}