@import '../main.scss';


.courses-section {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: min-content auto;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    > p {
        @include title-5-font();
        color: $font-color1;
        margin-top: 2rem;
        text-align: center;

    }
}

.courses-container {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, (minmax(20rem, 1fr)));
    // grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    grid-row-gap: 1.25rem;
    grid-column-gap: 1.25rem;
    &::-webkit-scrollbar {
        background-color: $color2;
    }
    &::-webkit-scrollbar-track {
        background-color: $color2;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color1;
    }
}

.swiper-slide-course {
    max-width: 22.5rem;
}

    .courses-container-swiper {
        width: 100%;

    }
@media (max-width: 700px) {
    .courses-section {
        margin-top: 0rem;
        margin-right: 0;
        margin-left: 0;
        grid-template-rows: max-content auto;

    }

    .courses-container {
        margin-top: 2rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: unset;

        // grid-template-rows: repeat(auto-fill, (minmax(min-content, 1fr)));
        overflow-y: hidden;
        overflow-x: auto;
        grid-row-gap: 1.25rem;
        grid-column-gap: 1.25rem;
    }

    .courses-container-swiper {
    margin-top: 2rem;

    }

    

}