@import '../main.scss';


.courses-section {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
    margin-right: 5rem;
    margin-left: 5rem;
    > p {
        @include title-font();
        color: $font-color1;
        margin-top: 2rem;
        text-align: center;

    }
}

.courses-container {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, (minmax(25rem, 1fr)));
    // grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    grid-row-gap: 1.25rem;
    grid-column-gap: 1.25rem;
}