@import '../main.scss' ;

$space1: 5%;
// $space2: 10%;

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: green;
    border:rgb(255, 0, 149) 10px solid;
}

.dashboard div {
    justify-self: right;
    margin-right: $space1;

    
    > p:nth-child(1) {
        @include dashboard-1;
    }
    > p:nth-child(2) {
        @include dashboard-2;
        margin-left: 5rem;
    }
    > p:nth-child(3) {
        @include dashboard-3;
    }
}

.navLink {
    justify-self: right;
    @include button-2;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 20.625rem;
    height: 5rem;
    background: #00A99D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    border: none;
    border-radius: 5px;
    margin-left: 7rem;
    text-decoration: none;
    margin-right: $space1;



}

.dashboard img {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    object-fit: contain;
    width: 40em;
    justify-self: left;
    margin-left: $space1;


}


@media (max-width: 950px){
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }
    .dashboard div {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        margin: 0%;
    }

    .navLink {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
        margin: 0%;
    }

    .dashboard img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
        margin: 0%;
    }
}






