@import '../main.scss' ;

.page-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.right-side {
    display: grid;
    grid-template-rows: 18% 82%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    // margin-bottom: 7.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    > p:nth-child(1) {
        @include button-2;
        align-self: center;
        padding-left: 2.5rem;
    }
    .courses-container {
        width: calc(100%);
        margin-bottom: 1.5rem;
        // padding-left: 2.5rem;
    }
    .courses-container-mobile {
        display: grid;
        grid-auto-flow: column;
        gap: 2.5rem;
        overflow-x: scroll;
        // margin-left: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

.left-side {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    margin-bottom: 5rem;
    > div:nth-child(1) {
        > p:nth-child(1) {
            @include title-2-font;
        }
        > p:nth-child(2) {
            @include title-3-font;
            margin-left: 5rem;
        }
        > p:nth-child(3) {
            @include title-4-font;
        }
    }
}


.nav-link {
    @include button-2;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 5rem;
    background: $color2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 7rem;
    margin-right: 5%;
    margin-top: 2rem;
    border: 1px solid transparent;
    transition: .225s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    > a {
        text-decoration: none;
        color: $font-color4;
    }
    &:hover {
        border: 1px solid $color3;
        color: $font-color4-hover;
    }
}



@media (max-width: 950px){
    .page-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 2fr;
        height: 100%;
        margin-left: 0%;
    }
    .right-side {
        grid-row: 2 / 3;
        margin-top: 2.5rem;
        grid-template-rows: 18% min-content;
        align-content: center;
        margin-bottom: 0rem;
        > p:nth-child(1) {
            margin-bottom: 0rem;
            height: min-content;
        }
    }
    .left-side {
        margin-bottom: 0rem;
        margin-top: 2.5rem;
    }

}

