@import '../main.scss' ;

// not the same in phone
.learning {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 90%;
    background-color: green;
    border:rgb(255, 0, 149) 10px solid;
    margin-top: 10%;
    margin-bottom: 10%;


    > p {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        justify-self: center;
        @include title1;

    }
}

.video-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    iframe {
        grid-row: 1 / 2;
        border: none;
        width: 100%;
        height: 90%;
        min-height: 35rem;
        border-radius: 10px;


    }

    > div {
        grid-row: 2 / 3;

        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
            color: white;
            background-color: transparent;
            border: none;
  
            @include title1;
            padding: 0;
            margin: 0;
            font-size: 17px;
            
        }
    }
}

.tabs {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
}
.tab-links {
    text-decoration: none;
    list-style: none;
    background-color: gray;
    height: 100%;
    @include button-3;
    text-align: center;
    padding-top: 10px;

}
.tab-files {
    text-decoration: none;
    list-style: none;
    background-color: rgb(172, 172, 172);
    height: 100%;
    @include button-3;
    text-align: center;
    padding-top: 10px;
    
}
.tabList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}
.tabPanel {
    
}
.switch-button {
    display: none;
}
// .switch-effect-on {
//     display: block;
// }
// .switch-effect-off {
//     display: block;
// }
@media (max-width: 950px){
    .learning {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-row-gap: 1rem;
        height: 100%;

        > p {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
    .video-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .tabs {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: white;
    }
    .switch-button{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .switch-effect-on {
        display: none;
    }
    .switch-effect-off {
        display: block;
    }
}