@import '../main.scss' ;

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.login form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    width: 25%;
    p {
        @include title1;
        align-self: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
}

.div-input-container {
    background: rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-self: center;
    width: 80%;
    height: 60px;
    img {
        align-self: center;
        object-fit: contain;
        justify-self: center;
    }
    input {
        background-color: transparent;
        border: none;
    }
}


.login > form > button:nth-child(5) {
    height: 60px;
    width: 45%;
    background: #00A99D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    @include button-2;
    align-self: flex-end;
    justify-content: center;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.login > form > div:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
    input {
        width: 25px;
        height: 25px;
        background: rgba(255, 255, 255, 0.58);
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
    }
    input:hover {
        background: rgba(255, 255, 255, 0.752);
    }
    label {
        @include text-1;
        margin-left: 1%;
    }
}

