@import '../main.scss' ;

.login {
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 33rem;
    /*Styling*/
    background: rgba($color1, 30%);
    border-radius: 5px;
    p {
        @include title1;
        align-self: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    > button {
        height: 4rem;
        width: 45%;
        @include button-2;
        align-self: flex-end;
        justify-content: center;
        margin-top: 5%;
        margin-right: 10%;
        margin-bottom: 12.5%;
        /*Styling*/
        background: $color2;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: none;
        color: $color3;
    }
}


.div-input-container {
    outline: none;
    display: grid;
    grid-template-columns: min-content 5fr;
    align-self: center;
    width: 80%;
    height: 4rem;
    margin-top: 2rem;
    /*Styling*/
    background: $color2;
    border-radius: 5px;
    img {
        align-self: center;
        margin-left: 10px;
        width: 2.6rem;
        opacity: .4;
    }
    input {
        background-color: transparent;
        border: none;
        margin-left: 10px;
        color: $color3;
    }

}

.div-input-container:focus-within {
    input {
        outline: none;
    }
    outline: 1px solid rgba($color3, 30%);
}

.div-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.3rem;
    margin-left: 11%;
    label {
        @include text-1;
        margin-left: 1%;
        font-size: 15px;
    }
}


@media (max-width: 700px){
    .login form {
        width: 90%;
    }
}
