.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 10px;
  width: 25%;
}

.login form p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.div-input-container {
  background: rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  height: 60px;
}

.div-input-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-grid-column-align: center;
      justify-self: center;
}

.div-input-container input {
  background-color: transparent;
  border: none;
}

.login > form > button:nth-child(5) {
  height: 60px;
  width: 45%;
  background: #00A99D;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 15%;
}

.login > form > div:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  margin-left: 10%;
}

.login > form > div:nth-child(4) input {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.58);
}

.login > form > div:nth-child(4) input:hover {
  background: rgba(255, 255, 255, 0.752);
}

.login > form > div:nth-child(4) label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-left: 1%;
}
/*# sourceMappingURL=Login.module.css.map */