@import '../main.scss' ;

.models {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    > p:nth-child(1) {
        @include title1;
        align-self: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    height: 90%;

}

.models > div:nth-child(2) {
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.models > div:nth-child(2) > form {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    margin-top: 2.3rem;
    select {
        width: 20.875rem;
        height: 3.875rem;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border: none;
        margin-right: 2.5%;
        width: 100%;
        margin: 0;
        border-radius: 5px;
        @include select-1;

    }
}

.models > div:nth-child(2) > div {
    overflow-y: scroll;
    overflow-x:hidden;
    max-width: 80%;
    // height: 400px;
    margin-top: 2.5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 3%;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


@media (max-width: 1000px){
    .models > p:nth-child(1) {
        margin-top: 5rem;
    }
    .models > p:nth-child(1) {
    }
    .models > div:nth-child(2) {
        margin-bottom: 5rem;
    }
    .models > div:nth-child(2) > div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px){
    .models > div:nth-child(2) > div {
        grid-template-columns: 1fr;
    }
}