@import '../main.scss' ;


.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sign-up form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    width: 560px;


    p {
        @include title1;
        align-self: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
}

.div-input-container {
    background: rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: auto 5fr;
    align-self: center;
    width: 80%;
    height: 60px;
    img {
        align-self: center;
        margin-left: 10px;
        width: 35px;
        opacity: .5;
    }
    input {
        background-color: transparent;
        border: none;
        margin-left: 10px;
    }
}

.submit-button {
    height: 60px;
    width: 45%;
    background: #00A99D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    @include button-2;
    align-self: flex-end;
    justify-content: center;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 12.5%;
}

@media (max-width: 700px){
    .sign-up form {
        min-width: 20rem;
        width: 90%;
    }

}

