@import '../main.scss' ;


.tutor-panel {
    display: grid;
    grid-template-rows: min-content min-content auto;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgba(#12262B, 30%);
    width: 80%;
    align-self: center;
}

.selects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5%;
    select {
        background-color: $color2;
        width: 100%;
        height: 2.5rem;
        margin: 0rem 2rem;
        padding-left: 1rem;
        border: none;
        border-radius: 5px;
        color: $color3;
    }
}

.tutor-panel {
    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        > p {
            @include text-3();
            color: white;
            margin-top: 2rem;

        }
        > button {
            width: 10%;
            background-color: $color2;
            color: $color3;
            @include text-2;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            min-width: 10rem;

        }
    }
}


.tutor-panel {
    > button:nth-child(4) {
        width: 10%;
        background-color: $color2;
        color: $color3;
        @include text-2;
        height: 2.5rem;
        border: none;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        justify-self: center;

    }
}



.tabs {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color5;
    > button {
        align-self: center;
        width: 10%;
        background-color: $color2;
        color: $color3;
        @include text-2;
        height: 2.5rem;
        border: none;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        min-width: 10rem;

    }
}
.tab-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
    margin: 0;
    padding: 0;

}
.tab-element-links, .tab-element-videos, .tab-element-files {
    text-decoration: none;
    list-style: none;
    background-color: $color5;
    // height: 100%;
    @include button-3;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab-element-links {
    background-color: rgba($color3, 25%);
}

.tab-element-files {
    background-color: rgba($color3, 50%);
}
.tab-element-videos {
    background-color: rgba($color3, 75%);

}


.tab-panel-links, .tab-panel-videos, .tab-panel-files {
    color: $font-color1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > p {
        @include text-3;
        margin-top: 1.5rem;
    }
    > textarea {
        resize: none;
        height: 17.5rem;  
        margin-top: 1rem;  
        background-color: $color2;
        border: none;
        width: 50%;
        @include text-3;
        color: $font-color1;
        margin-top: .8rem;
    }

    > textarea:focus {
        outline: none;

    }
}

.tab-panel-files {

}

.tab-panel-links {

}

.tab-panel-videos {

}


@media (max-width: 600px) {
    .tutor-panel { 
        margin-top: 2.5rem;

    }
    .selects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2.5%;
        select {
            background-color: $color2;
            width: 60%;
            align-self: center;
            height: 2.5rem;
            margin: .5rem 0rem;
            padding-left: 1rem;
            border: none;
            border-radius: 5px;
            color: $color3;
        }
    }

}