@mixin Raleway-normal-normal-40px-white {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
@mixin Raleway-normal-500-50px-white {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
@mixin Raleway-normal-normal-30px-white-089 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.89);
    margin: 0;
    padding: 0;
}