@import '/src/assets/main.scss' ;


.course {
    display: grid;
    grid-template-columns: 2fr 6fr;
    min-width: 19rem;
    min-height: 16rem;
    // min-height: 12.5rem;
    background-color: $color5;
}
// @media (max-width: 950px) {
//     .course {
//         grid-column: span 2;
//     }
// }
.nav-link {
    color: $font-color1;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;

}

.course > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4rem;
    > img {
        object-fit: contain;
        width: 40px;
    }
}

@media (max-width: 500px) {
    .course > div:nth-child(1) > img {
        width: 20px;
    }
}


.course > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 3rem;
    > p:nth-child(1) {
        color: $font-color1;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 1.156rem;
        margin: 0;
        padding: 0;


    }
    > p:nth-child(2) {
        color: $font-color2;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        margin: 0;
        padding: 0;
        margin-right: 20%;
        margin-top: 1rem;
        margin-bottom: 2rem;

    }
}