@import '/src/assets/main.scss' ;


.course {
    display: grid;
    grid-template-columns: 1fr;
    // min-width: 20rem;
    // max-height: 18rem;
    // min-width: 25rem;
    // max-width: 26rem;
    min-height: 12rem;
    min-width: 20rem;
    background-color: $color5;
    justify-items: center;
    // max-width: 25rem;
}

.nav-link {
    color: $font-color1;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    justify-self: flex-end;
    align-self: flex-end;
    color: $font-color3;
    // background-color: $color2;
    // padding: .5rem 1rem;
}

.course > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4rem;
    > img {
        object-fit: contain;
        width: 40px;
    }
}

@media (max-width: 500px) {
    .course > div:nth-child(1) > img {
        width: 20px;
    }
}

@media (max-width: 700px) {
    .course {
        max-width: 25rem;
    }
}


.course > div:nth-child(1) {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    // margin-right: 10%;
    // margin-left: 10%;
    // margin-top: 10%;
    // margin-bottom: 10%;
    height: 80%;
    width: 80%;
    > p:nth-child(1) {
        color: $font-color1;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 1.156rem;
        margin: 0;
        padding: 0;


    }
    > p:nth-child(2) {
        color: $font-color2;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }

}