@import '/src/assets/main.scss' ;

// body {
//     overflow: hidden;
// }


.course {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    max-width: 30rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    background-color: $color5;
    padding-top: 3.5rem;
    padding-left: 3rem;
    padding-right: 2.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 2.5rem;
    // max-width: 27.5rem;
    // min-width: 22rem;
    // max-width: 25rem;
    width: 20rem;
    
    user-select: none;
    // min-width: 22rem;
    

    
}
.course > div:nth-child(1) {
    display: grid;
    p {
        color: $font-color1;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 1.156rem;
        margin: 0;
        padding: 0;
    }
    > p:nth-child(1) { margin-bottom: .5rem; }
    > p:nth-child(2) { margin-bottom: .5rem; }
    > p:nth-child(3) { margin-bottom: .5rem; }
    > p:nth-child(4) { margin-bottom: 1.5rem; }
}
.course > div:nth-child(2) {
    width: 60%;
    height: 2.5px;
    background-color: $color3;
    border-radius: 5px;
    // margin-left: 2rem;
    margin: .75rem 0rem;
}
.course > div:nth-child(3) {
    display: grid;
    grid-template-rows: min-content min-content auto;
    margin-top: 1.4rem;



    > p:nth-child(1) {
        color: $font-color1;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 1.156rem;
        margin: 0;
        padding: 0;
        margin-bottom: 1.5rem;
    }
    > p:nth-child(2) {
        color: $font-color2;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        margin: 0;
        padding: 0;
    }
}



.nav-link {
    color: $font-color1;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    justify-self: flex-end;
    align-self: flex-end;
    color: $font-color3;
    transition: .15s;
    &:hover {
        color: #00ffd5;
    }
}

@media (max-width: 500px) {
    .course > div:nth-child(1) > img {
        width: 20px;
    }
}
