@import '../main.scss' ;

.Input {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    grid-column-gap: 1rem;
    width: 25rem;
    background-color: $color2;
    border-radius: 5px;
    height: 3.3rem;
}

.Input img {
    margin-left: .8rem;
    align-self: center;

}

.Input div {
    width: 2px;
    color:red;
    background-color: rgba($font-color4, 50%);
    height: 80%;
    align-self: center;
}

.Input input {
    height: 100%;
    background-color: transparent;
    border: none;
    color: $color3;
    align-self: center;
    color: rgba($color3, 50%);
    @include text-font();
}

.Input input:focus {
    outline: none;
}