@import '/src/assets/main.scss' ;


.model {
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    border: 1px solid rgba(255, 255, 255, 20%);
    min-width: 20rem;
    margin-bottom: 1.2rem;
    // height: 26rem;
    max-width: 25rem;
    max-height: 30rem;
    // max-height: 35rem;
}

@media (max-width: 1200px){
    .model {
        min-width: 10rem;
    }

}


.model > div:nth-child(1) {
    // max-width: 22.5rem;
    width: 100%;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}

.model > p:nth-child(2) {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    color: $font-color1;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 5%;

}

.model > p:nth-child(3) {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: $font-color2;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 2%;

}

.nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 0.938rem;
    color: #00DBB6;
    background-color: transparent;
    border: none;
    justify-self: left;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 3%;
    text-decoration: none;

}