@import '/src/assets/main.scss' ;


.model {
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    border: 1px solid rgba(255, 255, 255, 20%);
    min-width: 25rem;
    height: calc(100% - 10px);
    max-width: 25rem;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-right: 2.5rem;
}


.model > div:nth-child(1) {
    // max-width: 22.5rem;
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.model > p:nth-child(2) {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.156rem;
    color: $font-color1;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 5%;
}

.model > p:nth-child(3) {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: $font-color2;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 2%;
    // padding-right: 12.5%;
    padding-right: 10%;


}

.nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 0.938rem;
    color: #00DBB6;
    background-color: transparent;
    border: none;
    justify-self: left;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    margin-left: 10%;

    margin-bottom: 3%;
    text-decoration: none;

}