.main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    // background-image: url('../img/background-2.png');
    background-image: url('../img/svg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
}
// @media (min-width: 1250px){
//     .main {
//         background-position-y: 110%;
//     }
// }

// @media (min-width: 1350px){
//     .main {
//         background-position-y: 120%;
//     }
// }

// @media (min-width: 1430px){
//     .main {
//         background-position-y: 130%;
//     }
// }

// @media (min-width: 1490px){
//     .main {
//         background-position-y: 140%;
//     }
// }

// @media (min-width: 1550px){
//     .main {
//         background-position-y: 140%;
//     }
// }

// @media (min-width: 1600px){
//     .main {
//         background-position-y: 160%;
//     }
// }
// @media (min-width: 1700px){
//     .main {
//         background-position-y: 180%;
//     }
// }


@media (max-width: 480px){

}


.layout {
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


// svg {
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .container {
//     display: inline-block;
//     position: fixed;
//     width: 100%;
//     padding-bottom: 100%;
//     vertical-align: middle;
//     overflow: hidden;
// }